.airdatepicker--day-name {
  color: #3D9970;
}

h4 {
  color: #3D9970;
}

.selectize-input {
  height: 40px; 
  width: 400px; 
  font-size: 17px; 
  margin-top: 20px;
}

.inline label{ 
  display: table-cell; 
  text-align: left; 
  vertical-align: middle; 
  padding-right: 10px;
} 

.inline .form-group { 
  display: table-row;
}

.airdatepicker--day-name {
  color: #3D9970;
  
}